
 <!-- <section class="vh-100" style="background-color: #dfcbff;">

  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <label>Enter your confirmation code</label>
                  <input type="text" [(ngModel)]="confirmObj.unique">
                  <button class="btn btn-primary" (click)="confirm()">Confirm Email</button>
  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
   -->
   <!-- Section: Design Block -->

   <section class="vh-100" style="background-color: #dfcbff;">

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="/assets/confirm.jpg"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
    
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      
                      <span class="h3 fw-bold mb-0">Enter your confirmation code</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"></h5>
  
                    <input id="my-input" type="text" [(ngModel)]="confirmObj.unique" style="width: 60%;">
                   
                    <br>
                    <br>
                    <button class="btn btn-primary" (click)="confirm()">Confirm Email</button>
              
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
 
  