<mat-nav-list>
    <div class="profile-card">
        <div class="header">
          
            <h2 style="font-family: Roboto Mono; margin-left: 15px;">{{userEmail}}</h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-dashboard/profile">Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-dashboard/jobs">View Jobs</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-dashboard/view-applications">Applications</a>


    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="list-item-active" (click)="logOut()">Log out</a>

</mat-nav-list>