<div class="row">
    <div class="col-sm-7">
        <div class="card">
    
       
            <div class="jumbotron" style="height: 100%; width: 100%;">
                <h1 class="h1" style="color: rgb(106, 42, 165); font-family: roboto mono;">About Us</h1>
                <p class="lead" style="margin-top: 5%; font-size: 15px;">We at top jobs have been continuously striving hard to place the right talent at the right place
                    since 1990. We've started this firm with the aim to bridge the gaps between the employer and the talent.
                    Our belief is to serve the best to our clients in USA. We have an extraordinary pool of jobs from the best
                    companies around the globe.
                </p>
            
                
            
                <p class="lead" style="font-size: 15px;">Our motto is to put your talent in a place that would lead to your personal growth as well as to the benefit of
                    the organization.
                    Today, TopJobs leads a diversified business with revenues from membership subscriptions,
                     advertising sales and recruitment solutions under the leadership of Ryan Roslansky.
                    In December 2016, Microsoft completed its acquisition of TopJobs, bringing together the world’s leading professional cloud
                     and the world’s leading professional network. Come join hands with us for your brighter future!
                    
                </p>
             
                <p class="lead" style="margin-top: 5%; font-size: 15px;">
                </p>
            </div>
    
        </div>

    </div>

    <div class="col-sm-5">
        <img src="/assets/about2.jpg">
    </div>
</div>

