<!-- <app-jobpost></app-jobpost> -->
<app-header></app-header>
<!-- <app-header-navbar (toggleSideBarForMe)="sideOpen()"></app-header-navbar> -->
<!-- <app-applicants></app-applicants> -->
<!-- <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideOpenFlag">
        <app-side-navbar></app-side-navbar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->
<!-- <app-trackjobs></app-trackjobs> -->
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<footer class="site-footer">
    <app-footer></app-footer>
</footer>