<!-- <html style="background-color: #f7e1ff;"> -->
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img
             src="https://mdbootstrap.com/img/Photos/Others/images/77.jpg"
             class="d-block w-100"
             alt="..."
             />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-family: Roboto Mono;font-size: 30px; color: aliceblue;">Welcome to Top Jobs</h5>
          <p style="font-family: Roboto Mono;font-size: 15px;">
            Put your Talent to use
          </p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
             src="https://mdbootstrap.com/img/Photos/Others/images/76.jpg"
             class="d-block w-100"
             alt="..."
             />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-family: Roboto Mono;font-size: 30px; color: aliceblue;">Finding this process cumbersome?</h5>
          <p style="font-family: Roboto Mono;font-size: 15px;">
            Don't worry! We have simplified the process for you.
          </p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
             src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
             class="d-block w-100"
             alt="..."
             style="height: 100%;
             width: 100%;"
             />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-family: Roboto Mono;font-size: 30px; color: aliceblue;">Facing issues while crossing this bridge?</h5>
          <p style="font-family: Roboto Mono;font-size: 15px; color: aliceblue;">
            We are here to bridge this gap for you.
          </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<br>
<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h3><strong>Explore Top Jobs</strong></h3>
          <p class="text-muted">
            Millions of people are searching for jobs, salary information, company reviews, and interview questions.
            See what others are looking for on Top Jobs today. commodi dignissimos obcaecati illum maiores corporis.
          </p>
          <p><strong>What we're all about</strong></p>
          <p class="text-muted">
            Top Jobs is the #1 job site in the United States with over 250M unique visitors every month. We strive to put job seekers first,
             giving them free access to search for jobs, post resumes, and research companies. Every day, we connect millions of people to new opportunities.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Some of our Top Recruiting Companies</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="/assets/at.png"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">AT&T</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="#!" class="btn btn-primary">Visit Site</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="/assets/google.png"
                class="img-fluid"
              />
              <a href="https://careers.google.com/">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Google</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="https://careers.google.com/" class="btn btn-primary">Visit Site</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img
                src="/assets/amazon.png"
                class="img-fluid"
              />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Amazon</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the
                card's content.
              </p>
              <a href="https://www.amazon.jobs/en-gb/" class="btn btn-primary">Visit Site</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="mb-5">
      <h4 class="mb-5 text-center"><strong>Contact Us</strong></h4>

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">First name</label>
                  
                  <input type="text" id="form3Example1" class="form-control" [(ngModel)]="name" />

                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <label class="form-label" for="form3Example2">Last name</label>
                  <input type="text" id="form3Example2" class="form-control" [(ngModel)]="lname"/>
                  
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              
              <label class="form-label" for="form3Example4">Email</label>
              <input type="email" id="form3Example3" class="form-control" [(ngModel)]="email" />
            </div>

            <!-- Message input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4">Message</label>
              <textarea type="text" id="form3Example4" class="form-control"  [(ngModel)]="message"></textarea>
              
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="sendEmail()">
              Submit
            </button>
           
         

      
          </div>
        </div>
      </div>
    </section>
  
    <!--Section: Content-->
  </div>
</main>
<!-- 
</html> -->
